*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.cabeça{
    text-align: left;
    background-color: rgba(27, 26, 26, 0.582);
    border-bottom: 3px solid black;
    width: 100%;
    height: 50px;
}

a{
    color: aliceblue;
    font-size: 40px;
    margin-right: 45px;
    margin-left: 5px;
}

footer {
    background-color:  rgba(27, 26, 26, 0.582);
    height: 100px;
    position:absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #000000;
    text-align: center;
}

.rodape{
    color: #000000;   
}

p{
    color: #666666;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.left_box{
    display: inline-block;
    background-color: white;
    max-width: 500px;
    margin-left: 10px;
    margin-right: 100px;
    vertical-align: top;
    margin-top: 50px;
    width: 1000px;
    height: 100%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.div_cointainer{
    text-align: center;
}
